@use '../custom' as *;

.titulo_seguro {
    width: 375px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    top: 450px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: $g1;
}

.titulo_planes {
    width: 375px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    top: 450px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: $blanco;
}

.proteccion_patrimonial {
    position: absolute;
    width: 375px;
    height: 900px;
    text-align: center;
    top: 1200px;
    bottom: 500px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: $g1;
} 

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 325px;
    height: px;
    background: $blanco;
    border: 1px solid $g3;
    border-radius: 16px;
    transition: all 0.3s ease-in;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 2px solid $white;
    border-radius: 16px;
    border-color: $g3;
    margin-top: 0px;
    margin: 20px;

    &:hover{
        transition: all 0.3s ease-in;
        transform: translateY(10px) scale();
        z-index: 99;
        border: 2px solid $g3;
    }
}

.card-content-dos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 327px;
    height: 232px;
    background: $blanco;
    border: 1px solid $g3;
    border-radius: 16px;
    transition: all 0.3s ease-in;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 2px solid $white;
    border-radius: 16px;
    border-color: $g3;
    margin-top: 0px;
    margin: 20px;
    
    &:hover{
        transition: all 0.3s ease-in;
        transform: translateY(10px) scale();
        z-index: 99;
        border: 2px solid $g3;
        }

}

.card-content-tres {
    position: relative;
    align-items: center;
    padding: 0px;
    width: 327px;
    height: 64px;
    margin-top: 0px;
    margin: 20px;
    border-radius: 8px;
}

.menu_seguro {
    width: 375px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    top: 450px;

}

.requisitos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 310px;
    background: $g4;
}

.conoce-planes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 24px;
    gap: 42px;
    width: 375px;
    height: 1622px;
    background: $r2;
}

.p-podras {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 327px;
    height: 80px;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: $g1;
}

.accordion-button-alert {
    text-align: center;
    background-color:  #FFFFFF;
    border: 2px solid;
    border-color: $g3 !important;
    border-radius: 8px !important;

}
.accordion-button:not(.collapsed) {
    border-radius: 8px;
    background-color:  #FFFFFF;

}

