@use '../custom' as *;

ul::-webkit-scrollbar {
    background-color: white;
    -webkit-appearance: none;
}

.dropdown-menu.fade-up {
    padding: 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
    top: 6px;
    left: 93%;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $negro;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

.navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: -5px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 4px;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 13px;
    transform: rotate(0deg);
}

.navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
}

.navbar-toggler.collapsed .toggler-icon {
    background: $negro;
}

.nav-tab1 {
    background-color: #FFFFFF;
    padding-bottom: 0px;
    margin-bottom: 40px;
    width: 100%;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;

}

.nav-tab1 div ul li.nav-item .nav-link {
    padding: 8px 40px;
}

.nav-tab1 li a{
    color: $g4;
    border-bottom: 3px solid $g3;
    color: $g4;
}

.nav-tab1 a.nav-link.active {
    border-bottom: 3px solid $r1;
    color: $r1;
}
