//Variables
$r1: #6D0009;
$r2: #A6000E;
$r3: #BE061B;
$r4: #EC111A;

$g1: #333333;
$g2: #606060;
$g3: #D6D6D6;
$g4: #F6F6F6;

$azul: #367AA4;
$negro: #000000;
$blanco: #FFFFFF;






// Importar Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

