//Variables
$r1: #6D0009;
$r2: #A6000E;
$r3: #BE061B;
$r4: #EC111A;

$g1: #333333;
$g2: #606060;
$g3: #D6D6D6;
$g4: #F6F6F6;

$azul: #367AA4;
$negro: #000000;
$blanco: #FFFFFF;

$primary: $r1;
$secondary: $g1;

//Card
$card-border-radius: 16px;

//Botones
$btn-border-radius: 8px;
$btn-line-height: 24px;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Scotia';
    src: url("../../src/fonts/Scotia_Bd.ttf") format("opentype") !important;
}

html{
    scroll-behavior: smooth;
    font-family: "Scotia", sans-serif;
}

body {
    font-family: "Scotia", sans-serif !important;
    font-size: 18px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}




// Importar Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

